*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
}
body{
 background: #f4f6f8;
 color: #333;
 line-height: 1.6rem;   
}
header{
 background: #0d6efd; 
 color: #fff;
 text-align: center;
 padding: 32px 16px;  
}
header h1{
 font-size: 30px;   
}
header p{
font-size: 15px;
margin-top: 4px;    
}
.contact{
 margin-top: 10px;
 font-size: 17px;   
}
.contact span{
 display: block;   
}
.container{
 max-width: 901px;
 margin: 32px 23px;
 background-color: #aaa;
 padding: 34px;
 border-radius: 9px;   
}
section{
margin-bottom: 27px;    
}
h2{
color: #0d6efd;
margin-bottom: 12px;
border-bottom: 2px solid #0d6efd;
display: inline-block;
padding-bottom: 4px;    
}
ul{
 margin-left: 23px;   
}
.skills{
 display: flex;
 flex-wrap: wrap;
 gap: 12px;
 list-style: none;   
}
.skills li{
 background: #e9ecef;
 padding: 7px 14px;
 border-radius: 6px;
 font-size: 18px;   
}
footer{
 text-align: center;
 padding: 24px;   
}
footer button{
margin-top: 12px;
padding: 11px 22px;
border: none;
background: #0d6efd;
color: aqua;
cursor: pointer;
border-radius: 6px;    
}
footer button:hover{
 background: #084298;   
}
@media(max-width:700px){
 header h1{
 font-size: 23px;   
 }   
}